.companies {
    background-color: transparent;
}

.companies .container{
    position: relative;
    width: 1180px;
    margin: auto;
    padding: 16px;
}

.companies .content{
    margin-top: 16px;
}