.header {
    height: 70px;
    background-color: #0667d0;
    color: #FFFFFF;
}

.header .container {
    position: relative;
    height: 70px;
    width: 1180px;
    margin: auto;
}

.header .container .left{
    width: 50%;
    height: 100%;
    float: left;
}

.header .container .right{
    width: 50%;
    height: 100%;
    float: right;
    text-align: right;
}

.header .container .content .title {
    display: inline-block;
    line-height: 70px;
    font-size: 1.8em;
    margin-right: 4px;
}

.header .container .content .subtitle {
    display: inline-block;
    font-size: 1.2em;
}

.header .container .content .subtitle::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    background-color: #1abc9c;
}