.web3-needed {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, #00c6fb 0%, #0665d0 100%);
    background-size: cover;
    font-family: 'CircularStdBook', sans-serif;
}

.web3-needed .content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 24px 48px;
    width: 400px;
    background-color: #FFFFFF;
    overflow: none;
    border-radius: 3px;
    border-color: #C0C0C0;
    box-shadow: 3px 3px 15px #7F7F7F;
    transform: translate(-50%, -50%);
}

.web3-needed .provider-link {
    padding: 0 0 0 4px;
    color: #399AFF;
    text-decoration: none; 
}

.web3-needed .provider-link:visited {
    color: #399AFF;
}