.modal-header {
    position: relative;
    border-bottom: solid 1px #c0c0c0;
}

.modal-header .title {
    font-size: 1.4em;
    color: #212529;
    margin-bottom: 8px;
}

.modal-header .close {
    position: absolute;
    right: 4px;
    top: 0;
    width: 20px;
    cursor: pointer;
}

.modal-content {
    overflow-x: hidden;
    padding: 24px;
    font-size: 18px;
    line-height: 1.5;
    color: #212529;
    max-height: 60vh;
    margin-bottom: 16px;
}

.modal-content .visual-tip {
    position: relative;
    display: block;
    width: 200px;
    margin: 32px auto 48px auto;
}

.modal-content .visual-tip .tip {
    display: block;
    margin: auto;
    width: 50%;
}

.modal-content .visual-tip .action {
    position: absolute;
    bottom: -16px;
    right: 32px;
    height: 40px;
    stroke: #ffffff;
}

.modal-content .description {
    text-align: center;
}

.modal-actions {
    display: flex;
    justify-content: center;
    border: none;
}

.modal-actions button, .modal-actions a {
    background-color: #ffffff;
    border: solid #399aff 1px;
    color: #399aff;
    border-radius: 3px;
    margin: 4px 8px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.modal-actions button:hover, .modal-actions a:hover {
    background-color: #399aff;
    color: #ffffff;
}

.modal-actions .close {
    font-family: 'CircularStdBook', sans-serif !important;
    font-size: 0.8em !important;
    border-color: transparent !important;
}

.modal-actions .close:hover, .modal-actions .close:active {
    outline: 0;
    color: #399aff !important;
    background-color: #ffffff !important;
}