.asset-detail{
    background-color: transparent;
}

.asset-detail .content{
    position: relative;
    width: 1180px;
    margin: auto;
    padding: 16px;
}

.asset-detail .content .informations {
    position: relative;
    padding: 24px 8px 16px 16px;
    background-color: #FFFFFF;
    border-radius: 3px;
    margin: 8px 8px 8px 0;
    color: #595959;
}

.asset-detail .content .empty .icon {
    display: block;
    margin: auto;
    width: 200px;
}

.asset-detail .content .empty .text {
    text-align: center;
    margin: 24px auto;
    color: #C0C0C0;
}

.asset-detail .content .informations .custom-calendar {
    position: relative;
    z-index: 0;
}

.select-range {
    display: block !important;
    margin: 36px auto 8px !important;
}