.add-property-modal-form {
    margin-top: 16px;
}

.add-property-modal-form table {
    width: 100%;
}

.add-property-modal-form table tbody tr td:first-child {
    text-align: right;
    color: #c0c0c0;
}

.add-property-modal-form table tbody tr td:last-child {
    padding: 8px 0;
}

.add-property-modal-form table tbody tr td:last-child .react-toggle {
    vertical-align: middle;
}

.add-property-modal-form table tbody tr td label {
    padding-right: 8px;
}

.add-property-modal-form table tbody tr td .value {
    box-sizing: border-box;
    width: 80%;
    padding: 8px;
    border: none;
    background-color: #f4f4f4;
    outline: 0;
    font-size: 18px;
    border-radius: 3px;
}