.properties-detail {
    background-color: transparent;
}

.properties-detail .container{
    position: relative;
    width: 1180px;
    margin: auto;
    padding: 16px;
}

.properties-detail .content{
    margin-top: 16px;
}