.property-detail {
    background-color: transparent;
}

.property-detail .container {
    position: relative;
    width: 1180px;
    margin: auto;
    padding: 16px;
}

.property-detail .container .button {
    margin-right: 8px;
}

.property-detail .container .content {
    position: relative;
    padding: 24px 8px 16px 16px;
    background-color: #ffffff;
    border-radius: 3px;
    margin: 16px 8px 8px 0;
    color: #595959;
    box-shadow: 0 2px 3px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08)
}

.property-detail .container .content .address {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 0.8em;
    color: #a0a0a0;
}

.property-detail .container .content .balance {
    position: absolute;
    top: 20px;
    right: 8px;
    font-size: 0.8em;
    color: #a0a0a0;
}

.property-detail .container .content .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin: 8px 0 16px 8px;
    line-height: 1.2em;
    font-size: 2em;
}

.property-detail .container .content .description {
    color: #a7a7a7;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    display: block;
    margin: 0 0 16px 8px;
}

.property-detail .container .danger-zone{
    margin-top: 16px;
}