.company {
    display: inline-block;
    border-radius: 3px;
    width: 50%;
    background-color: transparent;
}

.company .description {
    position: relative;
    padding: 24px 8px 16px 16px;
    border-left: solid 1px #399AFF;
    background-color: #FFFFFF;
    border-radius: 3px;
    margin: 8px 8px 8px 0;
    color: #595959;
}

.company .description .address {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 0.8em;
    color: #A0A0A0;
}

.company .description .balance {
    position: absolute;
    top: 20px;
    right: 8px;
    font-size: 0.8em;
    color: #A0A0A0;
}

.company .description .name {
    max-width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-top: 4px;
    line-height: 1.2em;
    font-size: 1.8em;
}

.company .description .detail {
    overflow: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

.company .description .detail .plus {
    width: 24px;
    margin: 4px 8px;
}