.property{
    display: inline-block;
    border-radius: 3px;
    width: 50%;
    background-color: transparent;
}

.property.deleted{
    display: none;
}

.property .description{
    position: relative;
    padding: 24px 8px 16px 16px;
    background-color: #FFFFFF;
    border-radius: 3px;
    margin: 8px 8px 8px 0;
    color: #595959;
    box-shadow: 0 2px 3px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08)
}

.property .description .address{
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 0.8em;
    color: #A0A0A0;
}

.property .description .balance{
    position: absolute;
    top: 20px;
    right: 8px;
    font-size: 0.8em;
    color: #A0A0A0;
}

.property .description .identifier{
    max-width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-top: 4px;
    line-height: 1.2em;
    font-size: 1.8em;
}

.property .description .detail{
    overflow: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

.property .description .detail .plus{
    width: 24px;
    margin: 4px 8px;
}