/* MODAL WINDOW ENHANCER */
.modal-header{
	position: relative;
	border-bottom: solid 1px #C0C0C0;
}

.modal-header .title{
	font-size: 1.4em;
	color: #C0C0C0;
	margin-bottom: 8px;
}

.modal-header .close{
	position: absolute;
	right: 4px;
	top: 0;
	width: 20px;
	cursor: pointer;
}

.modal-content{
	padding: 24px;
	line-height: 1.6em;
	color: #B3B3B3;
}

.modal-content .visual-tip{
    display: block;
    width: 100px;
    margin: auto;
    margin-bottom: 24px;
}

.modal-content form{
    margin: 24px 0 16px 16px;
}

.modal-content table tbody tr .label{
    text-align: right;
    margin-right: 8px;
}

.modal-content table tbody tr .value{
    width: 100%;
    margin-left: 8px;
    margin-top: 8px;
    border: none;
    border-bottom: solid 1px #399AFF;
    outline: 0;
    font-size: 1.2em;
}

.modal-actions{
	display: flex;
	justify-content: center;
	border:none;
}

.modal-actions button{
	background-color: #FFFFFF;
	border: solid #399AFF 1px;
	color: #399AFF;
	padding: 8px 24px;
	border-radius: 3px;
	margin: 4px;
	font-size: 1em;
	cursor: pointer;
}

.modal-actions button:hover{
	background-color: #399AFF;
	color: #FFFFFF;
}

.modal-actions .close{
    font-size: 0.8em !important;
    border-color: transparent !important;
}

.modal-actions .close:hover, .modal-actions .close:active{
    outline: 0;
    color: #399AFF !important;
    background-color: #FFFFFF !important;
}

/* CUSTOM BUTTON */
.custom-button{
    position: relative;
    display: inline-block;
    outline: 0;
    height: 40px;
    line-height: 40px;
    font-family: 'Ubuntu', sans-serif;
    border: solid 1px #399AFF;
    background-color: #FFFFFF;
    border-radius: 3px;
    margin-right: 8px;
    cursor: pointer;
    transition: all 0.2s;
}

.custom-button:hover{
    border: solid 1px transparent;
    background-color: #399AFF;
}

.custom-button:hover .text{
    color: #FFFFFF;
}

.custom-button .icon{
    line-height: 40px;
    vertical-align: middle;
    margin-left: 16px;
    margin-top: -8px;
    width: 20px;
}

.custom-button .text{
    line-height: 40px;
    color: #399AFF;
    font-size: 1.2em;
    margin: 0 16px 0 8px;
}