/* REACT BIG CALENDAR */

.rbc-calendar {
    font-family: 'CircularStdBook', sans-serif;
}

.rbc-calendar .rbc-btn-group  button {
    text-transform: capitalize;
    position: relative;
    display: inline-block;
    padding: 0 16px;
    outline: 0;
    height: 32px !important;
    line-height: 32px;
    font-family: 'CircularStdBlack', sans-serif;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.1s;
    box-shadow: 0 2px 3px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    border: solid 1px #399aff;
    background-color: #ffffff;
    color: #399aff;
}

.rbc-calendar .rbc-btn-group  button .button-text {
    line-height: 32px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .025em;
}

.rbc-calendar .rbc-btn-group button:hover {
    background-color: #399AFF;
    color: #FFFFFF;
}

.rbc-calendar .rbc-btn-group .rbc-active {
    border: solid 1px transparent;
    background-color: #399AFF !important;
    color: #FFFFFF !important;
}

.rbc-calendar .rbc-header {
    min-height: 48px;
    line-height: 48px;
}

.rbc-calendar .rbc-date-cell {
    padding-top: 4px;
    min-height: 72px;
}

.rbc-calendar .rbc-now, .rbc-calendar .rbc-today {
    background: repeating-linear-gradient( -55deg, #FFFFFF, #FFFFFF 2px, #F4F4F4 2px, #F4F4F4 4px);
}

.rbc-calendar .rbc-now {
    margin: 0 1px 1px 1px;
}

.rbc-calendar .rbc-label {
    line-height: 39px;
    text-align: center;
}

.rbc-calendar .rbc-event {
    border-radius: 3px;
    background-color: #399AFF;
}

.rbc-calendar .rbc-month-view {
    border-radius: 3px;
}


/* REACT DATE RANGE */

.rdr-Calendar {
    display: block !important;
    margin: auto;
}

.rdr-Calendar .rdr-MonthAndYear-innerWrapper button {
    cursor: pointer;
    background-color: transparent !important;
}

.rdr-Calendar .rdr-Days .is-inRange {
    background: repeating-linear-gradient( -55deg, #FFFFFF, #FFFFFF 2px, #F4F4F4 2px, #F4F4F4 4px) !important;
}

.rdr-Calendar .rdr-Day {
    color: #595959 !important;
    border: solid 2px transparent;
}

.rdr-Calendar .rdr-Days .is-selected {
    border-radius: 3px;
    border: solid 2px #399AFF;
    background-color: transparent !important;
    background: none !important;
}