@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Ubuntu', sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.modal-header{
	position: relative;
	border-bottom: solid 1px #C0C0C0;
}

.modal-header .title{
	font-size: 1.4em;
	color: #C0C0C0;
	margin-bottom: 8px;
}

.modal-header .close{
	position: absolute;
	right: 4px;
	top: 0;
	width: 20px;
	cursor: pointer;
}

.modal-content{
	padding: 24px;
	line-height: 1.6em;
	color: #B3B3B3;
}

.modal-actions{
	display: flex;
	justify-content: center;
	border:none;
}

.modal-actions button{
	background-color: #FFFFFF;
	border: solid #399AFF 1px;
	color: #399AFF;
	padding: 8px 24px;
	border-radius: 3px;
	margin: 4px;
	font-size: 1em;
	cursor: pointer;
}

.modal-actions button:hover{
	background-color: #399AFF;
	color: #FFFFFF;
}