.web3-needed, .unlock-account-needed{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.25);
    font-family: 'Ubuntu', sans-serif;
}

.web3-needed .content{
    position: absolute;
    background: #FFFFFF !important;
    width: 450px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    overflow: none;
    border-radius: 3px;
    border: solid 1px;
    border-color: #C0C0C0;
    box-shadow: 3px 3px 15px #7F7F7F;
    margin-right: -50%;
    padding: 32px;
    transform: translate(-50%, -50%);
}

.web3-needed .content .icon{
    display: block;
    margin: auto;
    width: 100px;
}
.web3-needed .content .title{
    text-align: left;
    font-size: 1.6em;
    color: #595959;
    margin: 16px 0;
}
.web3-needed .content .description{
    color: #B3B3B3;
    line-height: 1.6em;
}