/* .company-detail {
    background-color: transparent;
}

.company-detail .container{
    position: relative;
    width: 1180px;
    margin: auto;
    padding: 16px;
}

.company-detail .content{
    margin-top: 16px;
} */